* {
  font-family: 'Montserrat', monospace;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 5rem;
}

.heading {
  font-size:xx-large;
  font-weight: 600;
}

.content-container {
  padding: 1rem;
  width: 100%;
}